{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		"rewire",
		[
			"module-resolver",
			{
				"alias": {
					"@src": "./src",
					"@dto": "./src/dto",
					"@utils": "./src/utils",
					"@errors": "./src/errors.js",
					"@modules": "./src/modules",
					"@services": "./src/services",
					"@config": "./configurations.js"
				}
			}
		]
	]
}
